<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boots.com.fan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>



        <activity android:name=".SecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".FifthActivitymaths" />
        <activity android:name=".ThirdActivityb" />
        <activity android:name=".ThirdActivityc" />
        <activity android:name=".ThirdActivityd" />
        <activity android:name=".ThirdActivitye" />
        <activity android:name=".FifthActivitycod" />
        <activity android:name=".FifthActivitydc" />
        <activity android:name=".FifthActivitydbd" />
        <activity android:name=".FifthActivityflat" />
        <activity android:name=".FifthActivityoot" />
        <activity android:name=".FifthActivitydslab" />
        <activity android:name=".FifthActivitydiglab" />
        <activity android:name=".FourthActivitycivil" />
        <activity android:name=".FourthActivityelectrical" />
        <activity android:name=".FourthActivityelectron" />
        <activity android:name=".FouthActivitymech" />
        <activity android:name=".FifthActivityc1" />
        <activity android:name=".FifthActivityc2" />
        <activity android:name=".FifthActivityc3" />
        <activity android:name=".FifthActivityc4" />
        <activity android:name=".FifthActivityc5" />
        <activity android:name=".FifthActivityc6" />
        <activity android:name=".FifthActivityc7" />
        <activity android:name=".FifthActivityc8" />
        <activity android:name=".FifthActivitym1" />
        <activity android:name=".FifthActivitym2" />
        <activity android:name=".FifthActivitym3" />
        <activity android:name=".FifthActivitym4" />
        <activity android:name=".FifthActivitym5" />
        <activity android:name=".FifthActivitym6" />
        <activity android:name=".FifthActivitym7" />
        <activity android:name=".FifthActivitym8" />
        <activity android:name=".FifthActivityec1" />
        <activity android:name=".FifthActivityec2" />
        <activity android:name=".FifthActivityec3" />
        <activity android:name=".FifthActivityec4" />
        <activity android:name=".FifthActivityec5" />
        <activity android:name=".FifthActivityec6" />
        <activity android:name=".FifthActivityec7" />
        <activity android:name=".FifthActivityec8" />
        <activity android:name=".FifthActivityee1" />
        <activity android:name=".FifthActivityee2" />
        <activity android:name=".FifthActivityee3" />
        <activity android:name=".FifthActivityee4" />
        <activity android:name=".FifthActivityee5" />
        <activity android:name=".FifthActivityee6" />
        <activity android:name=".FifthActivityee7" />
        <activity android:name=".FifthActivityee8" />
        <activity android:name=".FourthActivity5ci" />
        <activity android:name=".FourthActivity5cs" />
        <activity android:name=".FourthActivity5ee" />
        <activity android:name=".FourthActivity5ec" />
        <activity android:name=".FourthActivity5m" />
        <activity android:name=".FourthActivity6cs" />
        <activity android:name=".FourthActivity6ci" />
        <activity android:name=".FourthActivity6ee" />
        <activity android:name=".FourthActivity6ec" />
        <activity android:name=".FourthActivity6m" />
        <activity android:name=".FourthActivity7cs" />
        <activity android:name=".FourthActivity7ci" />
        <activity android:name=".FourthActivity7ee" />
        <activity android:name=".FourthActivity7ec" />
        <activity android:name=".FourthActivity7m" />
        <activity android:name=".FourthActivity8cs" />
        <activity android:name=".FourthActivity8ci" />
        <activity android:name=".FourthActivity8m" />
        <activity android:name=".FourthActivity8ee" />
        <activity android:name=".FourthActivity8ec" />
        <activity android:name=".FifthActivity5c1" />
        <activity android:name=".FifthActivity5c4" />
        <activity android:name=".FifthActivity5c2" />
        <activity android:name=".FifthActivity5c3" />
        <activity android:name=".FifthActivity5c5" />
        <activity android:name=".FifthActivity5c6" />
        <activity android:name=".FifthActivity5c7" />
        <activity android:name=".FifthActivity5c8" />
        <activity android:name=".FifthActivity5cs1" />
        <activity android:name=".FifthActivity5cs2" />
        <activity android:name=".FifthActivity5cs3" />
        <activity android:name=".FifthActivity5cs4" />
        <activity android:name=".FifthActivity5cs5" />
        <activity android:name=".FifthActivity5cs6" />
        <activity android:name=".FifthActivity5cs7" />
        <activity android:name=".FifthActivity5cs8" />
        <activity android:name=".FifthActivity5m1" />
        <activity android:name=".FifthActivity5m2" />
        <activity android:name=".FifthActivity5m3" />
        <activity android:name=".FifthActivity5m4" />
        <activity android:name=".FifthActivity5m5" />
        <activity android:name=".FifthActivity5m6" />
        <activity android:name=".FifthActivity5m7" />
        <activity android:name=".FifthActivity5m8" />
        <activity android:name=".FifthActivity5ee1" />
        <activity android:name=".FifthActivity5ee2" />
        <activity android:name=".FifthActivity5ee3" />
        <activity android:name=".FifthActivity5ee4" />
        <activity android:name=".FifthActivity5ee5" />
        <activity android:name=".FifthActivity5ee6" />
        <activity android:name=".FifthActivity5ee7" />
        <activity android:name=".FifthActivity5ee8" />
        <activity android:name=".FifthActivity5ec1" />
        <activity android:name=".FifthActivity5ec2" />
        <activity android:name=".FifthActivity5ec3" />
        <activity android:name=".FifthActivity5ec4" />
        <activity android:name=".FifthActivity5ec5" />
        <activity android:name=".FifthActivity5ec6" />
        <activity android:name=".FifthActivity5ec7" />
        <activity android:name=".FifthActivity5ec8" />
        <activity android:name=".FifthActivity6c1" />
        <activity android:name=".FifthActivity6c4" />
        <activity android:name=".FifthActivity6c2" />
        <activity android:name=".FifthActivity6c3" />
        <activity android:name=".FifthActivity6c5" />
        <activity android:name=".FifthActivity6c6" />
        <activity android:name=".FifthActivity6c7" />
        <activity android:name=".FifthActivity6c8" />
        <activity android:name=".FifthActivity6cs1" />
        <activity android:name=".FifthActivity6cs2" />
        <activity android:name=".FifthActivity6cs3" />
        <activity android:name=".FifthActivity6cs4" />
        <activity android:name=".FifthActivity6cs5" />
        <activity android:name=".FifthActivity6cs6" />
        <activity android:name=".FifthActivity6cs7" />
        <activity android:name=".FifthActivity6cs8" />
        <activity android:name=".FifthActivity6m1" />
        <activity android:name=".FifthActivity6m2" />
        <activity android:name=".FifthActivity6m3" />
        <activity android:name=".FifthActivity6m4" />
        <activity android:name=".FifthActivity6m5" />
        <activity android:name=".FifthActivity6m6" />
        <activity android:name=".FifthActivity6m7" />
        <activity android:name=".FifthActivity6m8" />
        <activity android:name=".FifthActivity6ee1" />
        <activity android:name=".FifthActivity6ee2" />
        <activity android:name=".FifthActivity6ee3" />
        <activity android:name=".FifthActivity6ee4" />
        <activity android:name=".FifthActivity6ee5" />
        <activity android:name=".FifthActivity6ee6" />
        <activity android:name=".FifthActivity6ee7" />
        <activity android:name=".FifthActivity6ee8" />
        <activity android:name=".FifthActivity6ee9" />
        <activity android:name=".FifthActivity6ec1" />
        <activity android:name=".FifthActivity6ec2" />
        <activity android:name=".FifthActivity6ec3" />
        <activity android:name=".FifthActivity6ec4" />
        <activity android:name=".FifthActivity6ec5" />
        <activity android:name=".FifthActivity6ec6" />
        <activity android:name=".FifthActivity6ec7" />
        <activity android:name=".FifthActivity6ec8" />
        <activity android:name=".FifthActivity7c1" />
        <activity android:name=".FifthActivity7c2" />
        <activity android:name=".FifthActivity7c3" />
        <activity android:name=".FifthActivity7c4" />
        <activity android:name=".FifthActivity7c5" />
        <activity android:name=".FifthActivity7c6" />
        <activity android:name=".FifthActivity7c7" />
        <activity android:name=".FifthActivity7c8" />
        <activity android:name=".FifthActivity7cs1" />
        <activity android:name=".FifthActivity7cs2" />
        <activity android:name=".FifthActivity7cs3" />
        <activity android:name=".FifthActivity7cs4" />
        <activity android:name=".FifthActivity7cs5" />
        <activity android:name=".FifthActivity7cs6" />
        <activity android:name=".FifthActivity7cs7" />
        <activity android:name=".FifthActivity7cs8" />
        <activity android:name=".FifthActivity7ec1" />
        <activity android:name=".FifthActivity7ec2" />
        <activity android:name=".FifthActivity7ec3" />
        <activity android:name=".FifthActivity7ec4" />
        <activity android:name=".FifthActivity7ec5" />
        <activity android:name=".FifthActivity7ec6" />
        <activity android:name=".FifthActivity7ec7" />
        <activity android:name=".FifthActivity7ec8" />
        <activity android:name=".FifthActivity7ec9" />
        <activity android:name=".FifthActivity7ec10" />
        <activity android:name=".FifthActivity7ee1" />
        <activity android:name=".FifthActivity7ee2" />
        <activity android:name=".FifthActivity7ee3" />
        <activity android:name=".FifthActivity7ee4" />
        <activity android:name=".FifthActivity7ee5" />
        <activity android:name=".FifthActivity7ee6" />
        <activity android:name=".FifthActivity7ee7" />
        <activity android:name=".FifthActivity7ee8" />
        <activity android:name=".FifthActivity7ee9" />
        <activity android:name=".FifthActivity7ee10" />
        <activity android:name=".FifthActivity7m1" />
        <activity android:name=".FifthActivity7m2" />
        <activity android:name=".FifthActivity7m3" />
        <activity android:name=".FifthActivity7m4" />
        <activity android:name=".FifthActivity7m5" />
        <activity android:name=".FifthActivity7m6" />
        <activity android:name=".FifthActivity7m7" />
        <activity android:name=".FifthActivity7m8" />
        <activity android:name=".FifthActivity7m9" />

        <activity android:name=".FifthActivity8c1" />
        <activity android:name=".FifthActivity8c2" />
        <activity android:name=".FifthActivity8c3" />
        <activity android:name=".FifthActivity8c4" />
        <activity android:name=".FifthActivity8c5" />
        <activity android:name=".FifthActivity8c6" />
        <activity android:name=".FifthActivity8c7" />
        <activity android:name=".FifthActivity8cs1" />
        <activity android:name=".FifthActivity8cs2" />
        <activity android:name=".FifthActivity8cs3" />
        <activity android:name=".FifthActivity8cs4" />
        <activity android:name=".FifthActivity8cs5" />
        <activity android:name=".FifthActivity8cs6" />
        <activity android:name=".FifthActivity8cs7" />
        <activity android:name=".FifthActivity8ec1" />
        <activity android:name=".FifthActivity8ec2" />
        <activity android:name=".FifthActivity8ec3" />
        <activity android:name=".FifthActivity8ec4" />
        <activity android:name=".FifthActivity8ec5" />
        <activity android:name=".FifthActivity8ec6" />
        <activity android:name=".FifthActivity8ec7" />
        <activity android:name=".FifthActivity8ee1" />
        <activity android:name=".FifthActivity8ee2" />
        <activity android:name=".FifthActivity8ee3" />
        <activity android:name=".FifthActivity8ee4" />
        <activity android:name=".FifthActivity8ee5" />
        <activity android:name=".FifthActivity8ee6" />
        <activity android:name=".FifthActivity8ee7" />
        <activity android:name=".FifthActivity8m1" />
        <activity android:name=".FifthActivity8m2" />
        <activity android:name=".FifthActivity8m3" />
        <activity android:name=".FifthActivity8m4" />
        <activity android:name=".FifthActivity8m5" />
        <activity android:name=".FifthActivity8m6" />
        <activity android:name=".FifthActivity8m7" />
        <activity android:name=".FifthActivity8m8" />


        <activity android:name=".SixthActivity5ec1" />
        <activity android:name=".SixthActivity5ec2" />
        <activity android:name=".SixthActivity5ec3" />
        <activity android:name=".SixthActivity5ec4" />
        <activity android:name=".SixthActivity5ec5" />
        <activity android:name=".SixthActivity5ec6" />
        <activity android:name=".SixthActivity5ec7" />
        <activity android:name=".SixthActivity5ee1" />
        <activity android:name=".SixthActivity5ee2" />
        <activity android:name=".SixthActivity5ee3" />
        <activity android:name=".SixthActivity5ee4" />
        <activity android:name=".SixthActivity5ee5" />
        <activity android:name=".SixthActivity5ee6" />
        <activity android:name=".SixthActivity5ee7" />
        <activity android:name=".SixthActivity5m1" />
        <activity android:name=".SixthActivity5m2" />
        <activity android:name=".SixthActivity5m3" />
        <activity android:name=".SixthActivity5m4" />
        <activity android:name=".SixthActivity5m5" />
        <activity android:name=".SixthActivity5m6" />
        <activity android:name=".SixthActivity5m7" />
        <activity android:name=".SixthActivity5m8" />
        <activity android:name=".SixthActivity5m9" />
        <activity android:name=".SixthActivity5m10" />
        <activity android:name=".SixthActivity5m11" />
        <activity android:name=".SixthActivity6ec1" />
        <activity android:name=".SixthActivity6ec2" />
        <activity android:name=".SixthActivity6ec3" />
        <activity android:name=".SixthActivity6ec4" />
        <activity android:name=".SixthActivity6ec5" />
        <activity android:name=".SixthActivity6ec6" />
        <activity android:name=".SixthActivity6ec7" />
        <activity android:name=".SixthActivity6ee1" />
        <activity android:name=".SixthActivity6ee2" />
        <activity android:name=".SixthActivity6ee3" />
        <activity android:name=".SixthActivity6ee4" />
        <activity android:name=".SixthActivity6ee5" />
        <activity android:name=".SixthActivity6ee6" />
        <activity android:name=".SixthActivity6m1" />
        <activity android:name=".SixthActivity6m2" />
        <activity android:name=".SixthActivity6m3" />
        <activity android:name=".SixthActivity6m4" />
        <activity android:name=".SixthActivity6m5" />
        <activity android:name=".SixthActivity6m6" />
        <activity android:name=".SixthActivity6m7" />
        <activity android:name=".SixthActivity6m8" />
        <activity android:name=".SixthActivity6m9" />
        <activity android:name=".SixthActivity6m10" />
        <activity android:name=".SixthActivity6m11" />
        <activity android:name=".SixthActivity6m12" />
        <activity android:name=".SixthActivity6m13" />
        <activity android:name=".SixthActivity6m14" />
        <activity android:name=".SixthActivity7c11" />
        <activity android:name=".SixthActivity7c12" />
        <activity android:name=".SixthActivity7c13" />
        <activity android:name=".SixthActivity7c14" />
        <activity android:name=".SixthActivity7c15" />
        <activity android:name=".SixthActivity7c16" />
        <activity android:name=".SixthActivity7c17" />
        <activity android:name=".SixthActivity7c18" />
        <activity android:name=".SixthActivity7c19" />
        <activity android:name=".SixthActivity7c110" />
        <activity android:name=".SixthActivity7c111" />
        <activity android:name=".SixthActivity7c112" />
        <activity android:name=".SixthActivity7c21" />
        <activity android:name=".SixthActivity7c22" />
        <activity android:name=".SixthActivity7c23" />
        <activity android:name=".SixthActivity7c24" />
        <activity android:name=".SixthActivity7c25" />
        <activity android:name=".SixthActivity7c26" />
        <activity android:name=".SixthActivity7c27" />
        <activity android:name=".SixthActivity7c28" />
        <activity android:name=".SixthActivity7c29" />
        <activity android:name=".SixthActivity7c210" />
        <activity android:name=".SixthActivity7c211" />
        <activity android:name=".SixthActivity7cs21" />
        <activity android:name=".SixthActivity7cs22" />
        <activity android:name=".SixthActivity7cs23" />
        <activity android:name=".SixthActivity7cs24" />
        <activity android:name=".SixthActivity7cs25" />
        <activity android:name=".SixthActivity7cs11" />
        <activity android:name=".SixthActivity7cs12" />
        <activity android:name=".SixthActivity7cs13" />
        <activity android:name=".SixthActivity7cs14" />
        <activity android:name=".SixthActivity7cs15" />
        <activity android:name=".SixthActivity7ec11" />
        <activity android:name=".SixthActivity7ec12" />
        <activity android:name=".SixthActivity7ec13" />
        <activity android:name=".SixthActivity7ec14" />
        <activity android:name=".SixthActivity7ec15" />
        <activity android:name=".SixthActivity7ec16" />
        <activity android:name=".SixthActivity7ec21" />
        <activity android:name=".SixthActivity7ec22" />
        <activity android:name=".SixthActivity7ec23" />
        <activity android:name=".SixthActivity7ec24" />
        <activity android:name=".SixthActivity7ec25" />
        <activity android:name=".SixthActivity7ec26" />
        <activity android:name=".SixthActivity7ee1" />
        <activity android:name=".SixthActivity7ee2" />
        <activity android:name=".SixthActivity7ee3" />
        <activity android:name=".SixthActivity7ee4" />
        <activity android:name=".SixthActivity7ee5" />
        <activity android:name=".SixthActivity7ee6" />
        <activity android:name=".SixthActivity7ee7" />
        <activity android:name=".SixthActivity7m1" />
        <activity android:name=".SixthActivity7m2" />
        <activity android:name=".SixthActivity7m3" />
        <activity android:name=".SixthActivity7m4" />
        <activity android:name=".SixthActivity7m5" />
        <activity android:name=".SixthActivity7m6" />
        <activity android:name=".SixthActivity7m7" />
        <activity android:name=".SixthActivity7m8" />
        <activity android:name=".SixthActivity7m9" />
        <activity android:name=".SixthActivity7m10" />
        <activity android:name=".SixthActivity7m11" />
        <activity android:name=".SixthActivity7m12" />
        <activity android:name=".SixthActivity7m13" />
        <activity android:name=".SixthActivity7m14" />
        <activity android:name=".SixthActivity7m15" />
        <activity android:name=".SixthActivity7m16" />
        <activity android:name=".SixthActivity7m17" />
        <activity android:name=".SixthActivity7m18" />
        <activity android:name=".SixthActivity7m19" />
        <activity android:name=".SixthActivity7m20" />


        <activity android:name=".SixthActivity8c11" />
        <activity android:name=".SixthActivity8c12" />
        <activity android:name=".SixthActivity8c13" />
        <activity android:name=".SixthActivity8c14" />
        <activity android:name=".SixthActivity8c15" />
        <activity android:name=".SixthActivity8c16" />
        <activity android:name=".SixthActivity8c17" />
        <activity android:name=".SixthActivity8c18" />
        <activity android:name=".SixthActivity8c21" />
        <activity android:name=".SixthActivity8c22" />
        <activity android:name=".SixthActivity8c23" />
        <activity android:name=".SixthActivity8c24" />
        <activity android:name=".SixthActivity8c25" />
        <activity android:name=".SixthActivity8c26" />
        <activity android:name=".SixthActivity8c27" />
        <activity android:name=".SixthActivity8c28" />
        <activity android:name=".SixthActivity8c29" />
        <activity android:name=".SixthActivity8cs11" />
        <activity android:name=".SixthActivity8cs12" />
        <activity android:name=".SixthActivity8cs13" />
        <activity android:name=".SixthActivity8cs14" />
        <activity android:name=".SixthActivity8cs15" />
        <activity android:name=".SixthActivity8cs21" />
        <activity android:name=".SixthActivity8cs22" />
        <activity android:name=".SixthActivity8cs23" />
        <activity android:name=".SixthActivity8cs24" />
        <activity android:name=".SixthActivity8cs25" />
        <activity android:name=".SixthActivity8ec11" />
        <activity android:name=".SixthActivity8ec12" />
        <activity android:name=".SixthActivity8ec13" />
        <activity android:name=".SixthActivity8ec14" />
        <activity android:name=".SixthActivity8ec15" />
        <activity android:name=".SixthActivity8ec16" />
        <activity android:name=".SixthActivity8ec21" />
        <activity android:name=".SixthActivity8ec22" />
        <activity android:name=".SixthActivity8ec23" />
        <activity android:name=".SixthActivity8ec24" />
        <activity android:name=".SixthActivity8ec25" />
        <activity android:name=".SixthActivity8ec26" />
        <activity android:name=".SixthActivity8ee11" />
        <activity android:name=".SixthActivity8ee12" />
        <activity android:name=".SixthActivity8ee13" />
        <activity android:name=".SixthActivity8ee14" />
        <activity android:name=".SixthActivity8ee15" />
        <activity android:name=".SixthActivity8ee21" />
        <activity android:name=".SixthActivity8ee22" />
        <activity android:name=".SixthActivity8ee23" />
        <activity android:name=".SixthActivity8ee24" />
        <activity android:name=".SixthActivity8ee25" />
        <activity android:name=".SixthActivity8m11" />
        <activity android:name=".SixthActivity8m12" />
        <activity android:name=".SixthActivity8m13" />
        <activity android:name=".SixthActivity8m14" />
        <activity android:name=".SixthActivity8m15" />
        <activity android:name=".SixthActivity8m16" />
        <activity android:name=".SixthActivity8m17" />
        <activity android:name=".SixthActivity8m18" />
        <activity android:name=".SixthActivity8m19" />
        <activity android:name=".SixthActivity8m110" />
        <activity android:name=".SixthActivity8m111" />
        <activity android:name=".SixthActivity8m112" />
        <activity android:name=".SixthActivity8m113" />
        <activity android:name=".SixthActivity8m114" />
        <activity android:name=".SixthActivity8m115" />
        <activity android:name=".SixthActivity8m116" />
        <activity android:name=".SixthActivity8m117" />
        <activity android:name=".SixthActivity8m21" />
        <activity android:name=".SixthActivity8m22" />
        <activity android:name=".SixthActivity8m23" />
        <activity android:name=".SixthActivity8m24" />
        <activity android:name=".SixthActivity8m25" />
        <activity android:name=".SixthActivity8m26" />
        <activity android:name=".SixthActivity8m27" />
        <activity android:name=".SixthActivity8m28" />
        <activity android:name=".SixthActivity8m29" />
        <activity android:name=".SixthActivity8m210" />
        <activity android:name=".SixthActivity8m211" />
        <activity android:name=".SixthActivity8m212" />
        <activity android:name=".SixthActivity8m213" />
        <activity android:name=".SixthActivity8m214" />
        <activity android:name=".SixthActivity8m215" />
        <activity android:name=".SixthActivity8m216" />
        <activity android:name=".SixthActivity8m217" />


        <activity android:name=".FifthActivity3c1" />
        <activity android:name=".FifthActivity3c2" />
        <activity android:name=".FifthActivity3c3" />
        <activity android:name=".FifthActivity3c4" />
        <activity android:name=".FifthActivity3c5" />
        <activity android:name=".FifthActivity3c6" />
        <activity android:name=".FifthActivity3c7" />
        <activity android:name=".FifthActivity3c8" />
        <activity android:name=".FifthActivity3cs1" />
        <activity android:name=".FifthActivity3cs2" />
        <activity android:name=".FifthActivity3cs3" />
        <activity android:name=".FifthActivity3cs4" />
        <activity android:name=".FifthActivity3cs5" />
        <activity android:name=".FifthActivity3cs6" />
        <activity android:name=".FifthActivity3cs7" />
        <activity android:name=".FifthActivity3cs8" />
        <activity android:name=".FifthActivity3ec1" />
        <activity android:name=".FifthActivity3ec2" />
        <activity android:name=".FifthActivity3ec3" />
        <activity android:name=".FifthActivity3ec4" />
        <activity android:name=".FifthActivity3ec5" />
        <activity android:name=".FifthActivity3ec6" />
        <activity android:name=".FifthActivity3ec7" />
        <activity android:name=".FifthActivity3ec8" />
        <activity android:name=".FifthActivity3ee1" />
        <activity android:name=".FifthActivity3ee2" />
        <activity android:name=".FifthActivity3ee3" />
        <activity android:name=".FifthActivity3ee4" />
        <activity android:name=".FifthActivity3ee5" />
        <activity android:name=".FifthActivity3ee6" />
        <activity android:name=".FifthActivity3ee7" />
        <activity android:name=".FifthActivity3ee8" />
        <activity android:name=".FifthActivity3m1" />
        <activity android:name=".FifthActivity3m2" />
        <activity android:name=".FifthActivity3m3" />
        <activity android:name=".FifthActivity3m4" />
        <activity android:name=".FifthActivity3m5" />
        <activity android:name=".FifthActivity3m6" />
        <activity android:name=".FifthActivity3m7" />
        <activity android:name=".FifthActivity3m8" />
        <activity android:name=".ThirdActivitya" />
        <activity android:name=".FourthActivity3cs" />
        <activity android:name=".FourthActivity3ci" />
        <activity android:name=".FourthActivity3ee" />
        <activity android:name=".FourthActivity3ec" />
        <activity android:name=".FourthActivity3m" />

        <activity android:name=".ThirdActivityz" />




        <activity android:name=".Fo1" />
        <activity android:name=".Fo2" />
        <activity android:name=".Fo3" />
        <activity android:name=".Fo4" />
        <activity android:name=".Fo5" />
        <activity android:name=".Fo6" />
        <activity android:name=".Fo7" />
        <activity android:name=".Fo8" />
        <activity android:name=".Fo9" />
        <activity android:name=".Fo10" />
        <activity android:name=".Fo11" />
        <activity android:name=".Fo12" />
        <activity android:name=".Fo13" />
        <activity android:name=".Fo14" />
        <activity android:name=".Fo15" />
        <activity android:name=".Fo16" />
        <activity android:name=".Fo17" />




        <activity android:name=".Later" />


    </application>

</manifest>